<html>
  <head>
    <title>Ejemplo de TypeScript</title>
  </head>
  
  <body>
    <h1>Ejemplo usando TypeScript</h1>
  </body>
  
  <ion-input  [(ngModel)]="VariableCualquiera" placeholder="Ingrese1:" color="primary"></ion-input >

  <ion-input [(ngModel)]="Cosa0" placeholder="Ingrese2:" color="danger"></ion-input>

  <ion-input [(ngModel)]="Cosa1" placeholder="Ingrese3:" color="primary"></ion-input>

  <ion-input [(ngModel)]="Cosa2" placeholder="Ingrese4:" color="danger"></ion-input>

  <ion-input [(ngModel)]="Cosa3" placeholder="Ingrese5:" color="primary"></ion-input>



  <ion-button (click)="uwu()">Guardar</ion-button>
</html>


